<h1>Crea tu cuenta</h1>

<form action="/auth/signup" method="POST">
	
	<label for='email'>Email</label>
	<input id='email' name='email' type='email' placeholder='Ingresa tu correo'>

	<label for='password'>Password</label>
	<input id='password' name='password' type='password' placeholder='Ingresa tu contraseña'>

	<input type='submit' value='Crear nuevo usuario'>
        
</form>

<h2>O ingresa con Facebook</h2>
<a href='/auth/facebook'>Facebook</a>
